@media screen and (min-width: 650px) {
    .navbar-container {
      grid-template-columns: 1fr auto;
      padding: 8px 16px;
    }
    .menu-container {
      display: none;
    }
    .navbar-title {
        padding-left: 20px;
    }
    .drawer {
      position: static;
      width: 100%;
    }
   
    .drawer ul li {
      display: inline-block;
    }
   
    .drawer ul li a {
      display: inline-block;
      width: 120px;
      text-align: center;
      margin: 0;
      padding: 10px;
    }

}

@media screen and (max-width: 650px) {
      .card-container {
      grid-template-columns: repeat(2, 1fr);
    }

      .card a {
        font-size: 2vh;
    }

      .card h4 {
      font-size: 2.5vh;
    }
  }