@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
  }
body {
    font-family : 'Inter', sans-serif;
  
}
.navbar-container {
    padding: 8px 16px;
    background-color: #D0386F;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    min-height: 50px;
  }
   
.menu-container {
    display: flex;
    align-items: center;
    
  }
   
.menu-container button {
    background-color: transparent;
    color: #ffecec;
    border: none;
    font-size: 18px;
    padding: 8px;
    min-width: 44px;
    min-height: 44px;
    cursor: pointer;
  }
   
.navbar-title {
    display: flex;
    align-items: center;
}
   
.navbar-title h1 {
    color: #FBF2F2;
    font-size: 30px;
    user-select: none;
  }
   
.drawer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    left: -180px;
    width: 150px;
    transition: all 0.1s;
    padding: 8px;
    background-color: #D0386F;
    overflow: hidden;
  }
   
.drawer.open {
    left: 0;
  }
.drawer ul {
    list-style: none;
    display: inline-block;
    padding: 2px;
}
.drawer ul li {
    font-weight: 500;
}
.drawer ul li a {
    display: inline-block;
    text-decoration: none;
    color: #ffecec;
    padding: 12px;
}
.drawer ul li a:hover {
  color:#500a24;
  font-weight: 700;
}
.main-container {
    display: flex;
    padding: 4rem 4rem;
    align-items: center;
}
.container1 {
    min-width: 50%;
}

.container1 h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    margin-block: 1rem;
    color: #282828;
}
.container1 p {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: #282828;
}
.start-learn {
    display: flex;
    width: 180px;
    height: 40px; 
    background: #D0386F;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    color: #FBF2F2;
    font-weight: 700;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    padding: .1rem 1rem;
    margin-block-start: 1rem;
    cursor: pointer;
}
.start-learn:hover {
  background-color: #82173e;
}
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D0386F;
    min-width: 40%;
    min-height: 10%;
    margin: 4rem;
    border-radius: 30px;
    
}
.container2 img {
    z-index: 5;
    min-width: 70%;
    background: url(.png);
}
.course-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.course-title {
    font-size: 32px;
    margin: 3rem;
}
.line1 {
    width: 360px;
    height: 0px;
    border: 1px solid #000000;
}
.line2 {
    width: 360px;
    height: 0px;
    border: 1px solid #000000;

}

/* card start */
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-around;
    padding: 4% 8%;
}
  
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 20px;
    border-radius: 16px;
    
}
.card-header {
    position: relative;
}
.card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}
.card-content {
  padding: 20px;
}
.card-content h4 {
    margin: 0 0 0 0;
    text-align: center;
}
.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}
.card p {
    padding: 8px;
    text-align: justify;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
.button {
    width: 50%;
    display: inline-block;
    background-color: #D0386F;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    padding: 12px 8px;
}
  
.button:hover {
    background-color: #82173e;
}


  /* card end */

  /* contact card start*/
.contact-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 0% 4%;
}
.contact-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 4px;
    margin-bottom: 20px;
    border-radius: 16px;
    border: 2px solid #D0386F;
}
.contact-header{
  display: flex;
  position: relative;
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
}
.contact-header img {
    object-fit: cover;
    border-radius: 4px;
}
.contact-content {
  padding: 16px;
}
.contact-content {
  text-align: center;
}
.contact-content h4 {
  font-size: 20px;
  padding: 12px;
}
.contact-role {
  font-size: 17px;
  padding: 8px;
}
.contact-university {
  font-size: 15px;
}
.button-contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
.button-contact {
    width: 70%;
    display: inline-block;
    background-color: #D0386F;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    padding: 12px 8px;
}
  
.button-contact:hover {
    background-color: #82173e;
}
/* contact card end */