@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
  }
body {
    font-family : 'Inter', sans-serif;
}
.navbar-container {
    padding: 8px 16px;
    background-color: #D0386F;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 8px;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    min-height: 50px;
  }
   
.menu-container {
    display: flex;
    align-items: center;
    
  }
   
.menu-container button {
    background-color: transparent;
    color: #ffecec;
    border: none;
    font-size: 18px;
    padding: 8px;
    min-width: 44px;
    min-height: 44px;
    cursor: pointer;
  }
   
.navbar-title {
    display: flex;
    align-items: center;
}
   
.navbar-title h1 {
    color: #FBF2F2;
    text-transform: uppercase;
    font-size: 30px;
    user-select: none;
  }
   
.drawer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: -180px;
    width: 50px;
    transition: all 0.1s;
    padding: 0px;
    padding-left: 0px;
    background-color: #D0386F;
    overflow: hidden;
  }
   
.drawer.open {
    left: 0;
  }
.drawer ul {
    list-style: none;
    display: inline-block;
    padding: 2px;
}
.drawer ul li {
    font-weight: 500;
    font-size: 24;
    padding: 0px;
  }
.drawer ul li a {
    display: inline-block;
    text-decoration: none;
    color: #ffecec;
    padding: 5px;
}
.main-container {
    display: flex;
    padding: 4rem 4rem;
    align-items: center;
}
.container1 {
    min-width: 50%;
}

.container1 h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    margin-block: 1rem;
    color: #282828;
}
.container1 p {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: #282828;
}
.start-learn {
    display: flex;
    width: 180px;
    height: 40px; 
    background: #D0386F;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    color: #FBF2F2;
    font-weight: 700;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    padding: .1rem 1rem;
    margin-block-start: 1rem;
    cursor: pointer;
}
.container2 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D0386F;
    min-width: 40%;
    min-height: 10%;
    margin: 4rem;
    border-radius: 30px;
    
}
.container2 img {
    z-index: 5;
    min-width: 70%;
    background: url(.png);
}
.course-container {
    display: flex;
    justify-content: center;
}
.course-title {
    font-size: 32px;
}

/* card start */
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-around;
    padding: 7% 10%;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .card img {
    width: 100%;
    max-height: 300px;
    border-radius: 4px;
  }
  
  .card h4 {
    margin: 8px 0;
    text-align: center;
  }

  .card p {
    padding: 7%;
    text-align: justify;
  }
  
  .card p {
    margin-bottom: 16px;
  }

  .button {
    width: 33%;
    display: inline-block;
    background-color: #D0386F;
    color: white;
    padding: 6px 8px;
    text-decoration: none;
    border-radius: 4px;
    margin: 10px auto 24px;
  }
  
  .button:hover {
    background-color: #d03870d2;
  }

  .card a {
    text-align: center;
  }
  /* card end */