<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free Course for women" />
    <meta name="theme-color" content="#d0386f"/>
    <meta name="dicoding:email" content="susanto3545@gmail.com">
    <link rel="icon" href="./icon-wetech.png" />
    <link rel="manifest" href="./app.webmanifest">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />


    <title>WeTech</title>
  </head>
  <body>
    <header class="navbar-container">
      <div class="menu-container">
        <button id="hamburger" class="hamburger_menu">☰</button>
      </div>
      <div class="navbar-title">
        <h1>WeTech</h1>
      </div>
      <nav class="drawer" id="drawer">
        <ul class="navlist">
          <li class="nav-item"><a href="#beranda">Beranda</a></li>
          <li class="nav-item"><a href="#kursus">Kursus</a></li>
          <li class="nav-item"><a href="#kontak">Kontak</a></li>
        </ul>
      </nav>
    </header>
    <main id="mainContent">
    </main>
    
  </body>
</html>
