@media screen and (max-width: 400px) {
    .sidebar {
        width: 200px;
        padding: 12px;
    }
    .navbar, .main {
        left: 200px;
        width: calc(100% - 200px);
}
}
@media screen and (max-width: 500px) {
    .modul {
        font-size: 12px;
    }
}