@media screen and (max-width: 470px) {
  .contact-card-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 16%;
  }
}
@media screen and (max-width: 580px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 0% 20%;
  }
}
@media screen and (min-width: 471px) and (max-width: 620px) {
  .contact-card-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 0% 24%;
  }
}
@media screen and (min-width: 650px) {
  .navbar-container {
    grid-template-columns: 1fr auto;
    padding: 8px 16px;
  }
  .menu-container {
    display: none;
  }
  .navbar-title {
    padding-left: 20px;
  }
  .drawer {
    position: static;
    width: 100%;
    overflow: hidden;
  }

  .drawer ul li {
    display: inline-block;
    padding: 0px;
  }

  .drawer ul li a {
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: 0;
    padding: 10px;
  }
}
@media screen and (max-width: 650px) {
  .card-content {
    padding: 12px;
  }
  .card-content h4 {
    font-size: 15px;
  }
  .card-rating {
    font-size: 15px;
  }
  .button-container {
    padding: 8px;
  }
  .button {
    width: 35%;
    font-size: 15px;
  }
}
@media screen and (min-width: 581px) and (max-width: 720px) {
  .card-container {
    padding: 0% 8%;
  }
}
@media screen and (max-width: 750px) {
  .main-container {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }
  .container1 h2 {
    text-align: center;
  }
  .container1 p {
    text-align: center;
  }
  .start-learn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container2 {
    order: -1;
  }
}
@media screen and (min-width: 621px) and (max-width: 790px) {
  .contact-card-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0% 12%;
  }
}
@media screen and (min-width: 581px) and (max-width: 895px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 970px) {
  .container1 h2 {
    font-size: 36px;
  }
  .container1 p {
    font-size: 16px;
  }
}
@media screen and (min-width: 896px) and (max-width: 980px) {
  .card-container {
    padding: 0% 4%;
  }
}
@media screen and (max-width: 1055px) {
  .card-container {
    gap: 10px;
  }
}
@media screen and (min-width: 791px) and (max-width: 1050px) {
  .contact-card-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0% 4%;
  }
}

@media screen and (min-width: 1051px) and (max-width: 1150px) {
  .contact-card-container {
    gap: 4px;
  }
  .button-contact {
    min-width: 70%;
  }
}
@media screen and (max-width: 1150px) {
  .contact-card-container {
    gap: 4px;
  }
  .button-contact {
    min-width: 70%;
  }
}
